* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  background: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.terminal-lines {
  font-family: 'Fira Code', 'JetBrains Mono', monospace;
  font-size: 1rem;
  padding: 1rem;
  overflow: hidden scroll;
  height: calc(100% - 80px);
  border: 1px solid #333;
  border-bottom: none;
}
.terminal {
  height: 100vh;
  width: 100vw;
}
.terminal-input {
  width: 100%;
  height: 80px;
  padding: 1rem;
  font-family: monospace;
  border: 1px solid #333;
}
.terminal-input input {
  width: calc(100% - 250px);
  height: 40px;
  background: transparent;
  border: none;
  color: white;
  font-family: 'Fira Code', 'JetBrains Mono', monospace;
  font-size: 1rem;
  padding: 0 1rem;
}
.terminal-input input:focus-visible {
  outline: none;
}
a:link, a {
  color: rgb(210, 255, 210) !important;
  text-decoration: none;
}
a:link:visited {
  color: rgb(210, 255, 210);
}
a:link:hover {
  color: rgb(159, 255, 159);
}
a:link:active {
  color: rgb(84, 255, 84);
}